body{
	display: flex;
	background-color: rgb(#222222);
	font-family: arial;
}
nav{
	width: 100.8%;
	background-color: black;
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	color: white;
}
nav ul li{
	list-style: none;
	position: relative;
}
nav ul li:hover{
	background-color: white;
	display: flex;
	justify-content: space-between;
}
nav ul li a{
	display: block;
	color: black;
	font-size: 200%;
	padding: 22px 14px 22px 14px;
	text-decoration: none;
	width: 200px;
}
nav ul li ul{
	display: none;
	position: absolute;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}
.r:hover ul{
	display: block;
	background-color: white;
	position: absolute;
	right: 0px;
	top: 100%;
}
.nr:hover ul{
	display: block;
	background-color: white;
	position: absolute;
	right: -228px;
	top: 100%;
}
nav ul li ul li{
	width: 100vw;
	position: relative;
	top: 10px;
	left: 10px;
	border-radius: 4px;
}
nav ul li ul li div{
	flex-wrap: wrap;
	border-bottom: 1px solid gray;
}
nav ul li ul li a{
	padding: 8px 14px 8px 14px;

}
nav ul li ul li a:hover{
	color: black;
}
.class{
	align-self: center;
}
#logo{
	padding: 25px;
}
.dn{
	display: flex;
}
.db{
	display: block;
}
.container {
  display: inline-block;
  cursor: pointer;
  align-self: center;
}
.li{
	flex-wrap: wrap;
	align-items: center;
	}
@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -104%;
	}
	45%{
		left: -104%;
	}
	50%{
		left: -204%;
	}
	70%{
		left: -204%;
	}
	75%{
		left: -304%;
	}
	95%{
		left: -304%;
	}
	100%{
		left: -404%;
	}
}
#slider{
	z-index: 1;
	overflow: hidden;
}
#slider figure div img{
	width: 100vw;
	float: left;
}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 40s slider infinite;
}
nav figure div div{
	width: 80%;
}
nav div ul li ul li a{
	width: 100vw;
	padding-left: 20px;
	size: 
}
.jmtl{
	position: absolute;
	top: 200px;
	left: 25%;
	z-index: 2;
}
.nav-text{
	color:white;
}
.li:hover .nav-text{
	color:black;
}
.li .bars-icon{
	display: block;
}
.li:hover .bars-icon{
	display: none;
}
.li .x-icon{
	display: none;
}
.li:hover .x-icon{
	display: block;
}
.li .arrow-down{
	display: block;
}
.li:hover .arrow-down{
	display: none;
}
.li .arrow-up{
	display: none;
}
.li:hover .arrow-up{
	display: block;
}
h3{
	font-size: 50px;
}
h4{
	font-size: 40px;
}
#jv{
	position: absolute;top: 1600px;
	z-index: 2;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	display: flex;
}
.jvimg{
	width: 200px;
}