body{
	display: flex;
	background-color: rgb(#222222);
}
nav{
	width: 100%;
	background-color: black;
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	color: white;
}
nav ul li{
	list-style: none;
	position: relative;
}
nav ul li:hover{
	background-color: white;
	display: flex;
	justify-content: space-between;
}
nav ul li a{
	display: block;
	font-family: arial;
	color: black;
	font-size: 200%;
	padding: 22px 14px 22px 14px;
	text-decoration: none;
}
#white{
	/*color: white*/
}
nav ul li ul{
	display: none;
	position: absolute;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
	display: block;
	background-color: white;
	position: absolute;
	right: 0px;
	top: 100%;
}
nav ul li ul li{
	width: 100vw;
	position: relative;
	top: 10px;
	left: 10px;
	border-radius: 4px;
}
nav ul li ul li a{
	padding: 8px 14px 8px 14px;

}
nav ul li ul li a:hover{
	color: black;
}
.class{
	align-self: center;
}
#logo{
	padding: 20px;
}
.dn{
	display: flex;
}
.db{
	display: block;
}
.container {
  display: inline-block;
  cursor: pointer;
  align-self: center;
}
.li{
	flex-wrap: wrap;
	align-items: center;
}
.container:active{
	color: black;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}
.bar:hover, .bar2:hover, .bar3:hover{
	background-color: black;
}
nav div ul li:hover {
	background-color: white;
	text-decoration-color: black;
}
.change .bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}
#sr:hover{
	transform: rotate(180deg);
	color: black;
}
#sr{
	display: flex;
}
@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -105%;
	}
	45%{
		left: -105%;
	}
	50%{
		left: -205%;
	}
	70%{
		left: -205%;
	}
	75%{
		left: -305%;
	}
	95%{
		left: -305%;
	}
	100%{
		left: -405%;
	}
}
	#slider{
		z-index: 1;
		overflow: hidden;
	}
	#slider figure img{
		width: 100vw;
		float: left;
	}
	#slider figure{
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		text-align: left;
		font-size: 0;
		animation: 40s slider infinite;
	}
}